settings/
debug.log
workspase.xml
*.exe
.vscode
.idea
.pytest_cache/
**/__pycache__/
/.cache/
**/geckodriver.log
geckodriver.log
pytest.xml
/build/
/venv
**/screenshots/
pip-selfcheck.json
tests/test_api.py
allure/reports/*
storages/files_pdf/*
storages/pattern_pdf/*
screenshots/